<header class="px-10 lg:px-[10%]">
    <div class="relative mx-auto flex flex-col sm:flex-row max-w-scree-lg sm:items-center sm:justify-between py-4">
    <a>
        <img src="../assets/logo1.png" alt="unclassic"  class=" md:w-[14rem] w-[8rem] ">
</a>

    <input class="peer hidden" type="checkbox" name="navbar-open" id="navbar-open" class="transition duration-1000 ease-in-out ">
    <label class="cursor-pointer absolute right-0 text-xl sm:hidden" for="navbar-open">
  
        <span class="material-symbols-outlined">
            menu
            </span>
        </label>
    <nav class="peer-checked:block hidden py-4 sm:block sm:mt-0 ">
        <ul class="flex flex-col items-center gap-8 sm:flex-row bg-gray-200 sm:bg-white w-full texl-left sm:text-center ">




            <li><a href="/" class=" hover:transition hover:duration-700 hover:ease-in-out hover:text-orange-700 hover:font-bold">Home</a></li>
            <li><a href="#product" class="hover:transition hover:duration-700 hover:ease-in-out hover:text-orange-700 hover:font-bold">Products</a></li>
            <li><a href="#blog" class="hover:transition hover:duration-700 hover:ease-in-out hover:text-orange-700 hover:font-bold">Blogs</a></li>
            <li><a href="#" class="hover:transition hover:duration-700 hover:ease-in-out hover:text-orange-700 hover:font-bold">About Us</a></li>
        </ul>
  
    </nav>
    </div>
</header>