---
layout: 'base.njk'
title: unClassic Foods
---
<section class="grid md:-mt-10 lg:grid-cols-2  md:px-[10%] py-12">
    <div class="  lg:hidden px-10 ">
        <img src="./assets/image11.jpg" alt="unclassic_products">
    </div>
    <div class="px-5 text-center lg:text-left">
        <p class="text-lg md:2xl sm:text-xl mb-3 sm:mb-6 mt-5 lg:mt-32">Indulges in Nature's Bounty</p>
        <p class="text-4xl xl:text-6xl md:text-4xl sm:4xl mb-3 text-[#f24c0f] font-bold sm:mb-6">TASTE THE MAGIC OF MUSHROOM</p>
        <p class="text-normal md:text-lg md:mb-8 mb-10">Uncover the Extraordinary Health Benefits and Irresistible Flavors of Mushrooms: Nature’s Nutrient-Packed Treasure That Enhances Your Well-being and Elevates Every Meal with Unique Taste and Texture.</p>
        <a href="#products" class="mx-auto bg-[#f24c0f] px-8 py-2 text-white md:px-10 md:py-3 rounded-3xl">Get it Now!</a>
    </div>
    <div class="hidden lg:inline-block md:mt-20 md:shadow-xl md:shadow-slate-200">
        <img src="./assets/image11.jpg" alt="" class="rounded-lg">
        
    </div>
</section>

`
<!-- {# Products #} -->
<article class=" bg-gray-200 p-10 lg:p-20 lg:px-[10%]" id="product">
   
        <p class="text-3xl md:5xl font-bold  text-center mb-10">Our Products</p>

     <div class="py-10 gap-10 lg:gap-20 grid lg:grid-cols-2 grid-cols-1 rounded-3xl">
        <div class="bg-white rounded-xl">
            <img src='../assets/product1.jpg'>
            <div class="p-6">
                <p class="text-xl lg:text-3xl font-semibold  ">Oyster Mushroom Tips</p>
                 <p class='pb-2 font-bold text-normal lg:text-2xl text-[#f24c0f]'>$ 20.00</p>
                <p class="mb-8">This is a sample content for this website. This is a sample content for this website. This is a sample content for this website.</p>
           
                <a href="#" class="px-4 py-2 text-normal md:px-10 md:py-4 bg-[#f24c0f] text-white md:text-xl rounded-md mb-6">Add to cart</a>
                <p class="mb-4"></p>
            </div>
        </div>
        <div class="bg-white rounded-xl">
            <img src='../assets/product2.jpg'>
            <div class="p-4 lg:p-6" >
                <p class="text-xl lg:text-3xl font-semibold ">Oyster Mushroom Nuggets</p>
                 <p class='pb-2 font-bold text-normal lg:text-2xl text-[#f24c0f]'>$ 20.00</p>
                <p class="mb-8">This is a sample content for this website.This is a sample content for this website.This is a sample content for this website.</p>
           
                 <a href="#" class="px-4 py-2 text-normal md:px-10 md:py-4 bg-[#f24c0f] text-white md:text-xl rounded-md mb-6">Add to cart</a>
                <p class="mb-4"></p>
            </div>
        </div>
    
    </div>
        
            <p class="text-center text-[#f24c0f] text-xl lg:text-4xl underline font-bold pt-4">More Products Will Available Soon!</p>
       
</article>
<!-- {# DID you know #} -->
<article class=" items-center px-10 lg:px-[10%] gap-10 text-zinc-300 bg-zinc-900 grid lg:grid-cols-2 grid-cols-1">
    <div class="p-10">
        <p class="text-xl md:text-3xl py-12">Did you know that...</p>
        <p class="pb-12 text-2xl md:text-4xl lg:text-6xl font-bold text-amber-500 italic">MUSHROOMS</p>
        <p class="text-normal font-light lg:text-xl pb-10">aren't just tasty, but also incredibly healthy? These little fungi are packed with essential nutrients, including vitamins D and B, antioxidants, and even a special compound called ergothioneine, which helps protect your cells from damage. Plus, mushrooms are one of the few non-animal sources of vitamin D, which is crucial for bone health and immune function. Fun fact: mushrooms can actually boost your mood too! They contain compounds that help regulate your serotonin levels, which can make you feel happier. So next time you're cooking, don’t forget to add a handful of mushrooms for a tasty and health-boosting kick!</p>
    
    </div>
    <div class="hidden lg:inline-block">
    <img src="../assets/mash-3.jpg" alt="">
    </div>
</article>



<!-- Blog -->
<article class="relative p-20 px-[10%]" id="blog">
   <div class="mb-10 flex flex-1 justify-between items-center">
    <p class="text-2xl lg:text-5xl font-bold">What's new?</p>
    <a href="#" class="text-sm lg:text-xl font-light">Read more blog</a>    
    </div>
 <div class=" py-10 grid-cols-1 grid lg:grid-cols-3  gap-10 rounded-3xl">
    <div class="bg-white rounded-xl">
        <img src='../assets/product1.jpg'>
        <div class="shadow-xl p-4">
            <p class="text-2xl font-semibold pt-4">New Found Recipe</p>
            
            <p class="pt-2 pb-4">This is a sample content for this website. This is a sample content for this website. This is a sample content for this website.</p>
       
            <a href="#" class="text-[#f24c0f]  text-xl">Read more</a>
            <p class="mb-4"></p>
        </div>
    </div>

    <div class="bg-white rounded-xl">
        <img src='../assets/product1.jpg'>
        <div class="shadow-xl p-4">
            <p class="text-2xl font-semibold pt-4">New Found Recipe</p>
            
            <p class="pt-2 pb-4">This is a sample content for this website. This is a sample content for this website. This is a sample content for this website.</p>
       
            <a href="#" class="text-[#f24c0f]  text-xl">Read more</a>
            <p class="mb-4"></p>
        </div>
    </div>

    <div class="bg-white rounded-xl">
        <img src='../assets/product1.jpg'>
        <div class="shadow-xl p-4">
            <p class="text-2xl font-semibold pt-4">New Found Recipe</p>
            
            <p class="pt-2 pb-4">This is a sample content for this website. This is a sample content for this website. This is a sample content for this website.</p>
       
            <a href="#" class="text-[#f24c0f]  text-xl">Read more</a>
            <p class="mb-4"></p>
        </div>
    </div>





</div>
    
   
</article>

<!-- CCostumer -->
<article class="px-[10%] bg-[#9dc8c4] text slate-600" id="testimonial">
<p class="text-center p-12 text-5xl text-gray-300">Our Satiesfied Client</p>


<div>
<div class="">
    <img src="" alt="">
    
</div>




</div>
</article>
